{% extends 'base_with_navbar.html' %}
{% block title %}Password Reset {% endblock title %} 
{% load static %} 
{% block css-ex %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"> 
{% endblock css-ex %} 
{% block content-ex %}

{% if form is None %}

    <script>
        window.location.href = "{% url 'password_reset' %}";
    </script

{% endif %}


<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">Set Your New Password</h1>
        </div>
    </div>
    <!-- END Header -->

    <div class="main shifted" id="main">
        <div class="content">
            <!-- Content -->
            <div id="content" class="colM">
                <div id="content-main">
                    {% if form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        Please enter your email
                    </div>
                    {% endif %}
                    <form method="post" id="login-form">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group w-100">
                                <label for="newpassword1">New Password</label>
                                <input type="password" name="new_password1" class="form-control" id="newpassword1" aria-describedby="newpassword1Help" placeholder="Password"  minlength="8" required>
                                <small id="newpassword1Help" class="form-text text-muted"></small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group w-100">
                                <label for="newpassword2">New password confirmation</label>
                                <input type="password" name="new_password2" class="form-control" id="newpassword2" aria-describedby="newpassword2Help" placeholder="Confirm Password"  minlength="8" required> 
                                <small id="newpassword2Help" class="form-text text-muted">
                                    {% for err in form.new_password2.errors %}
                                       <p> {{ err }} </p>
                                    {% endfor %}
                                </small>
                            </div>
                        </div>

                        <div class="submit-row">
                            <input class="btn btn-outline-info" type="submit" />
                        </div>
                    </form>
                </div>

                <br class="clear" />
            </div>
            <div id="footer"></div>
        </div>
    </div>

</div>

<div class="footer">
    Please contact us if you have any trouble resetting your password.
</div>

{{form}}

{% endblock content-ex %} 
{% block js %} 

<script>
   $(document).on('input','#newpassword2',function () { 
        var pass1 = $('#newpassword1').val();
        var pass2 = $('#newpassword2').val();
        if(pass1!=pass2)
            $('#newpassword2Help').text('The two password fields didn’t match.');
        else $('#newpassword2Help').text('');
    });

     $(document).on('input','#newpassword1',function () { 
        var pass1 = $('#newpassword1').val();
        var pass2 = $('#newpassword2').val();
    
        if(pass2 == "") return;
        if(pass1!=pass2)
            $('#newpassword2Help').text('The two password fields didn’t match.');
        else $('#newpassword2Help').text('');
    });
</script>
{% endblock js %}