{% extends 'base_with_navbar.html' %}

{% load static %}

{% block css-ex %}
<style>
html{
    font-size:1rem;
}

@media screen and (max-width:587px){
    html{
        font-size:0.8rem;
    }
}
</style> 
{% endblock css-ex %}


{% block content-ex %}


<div class="container-fluid">
    <div class="jumbotron p-6">
        <h1 class="medium text-info">Password Reset Successful</h1>
        <br>
        {% comment %} <p class="lead w-auto">Please login to your account.</p> {% endcomment %}
        <hr class="my-4">
        <p>Please use your credentials to login your account.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
        </p>
    </div>
</div>
    
{% endblock content-ex %}





