{% extends 'base_with_navbar.html' %}
{% block title %}Password Reset {% endblock title %} 
{% load static %} 
{% block css-ex %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"> 
{% endblock css-ex %} 
{% block content-ex %}


<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">Reset Password</h1>
        </div>
    </div>
    <!-- END Header -->

    <div class="main shifted" id="main">
        <div class="content">
            <!-- Content -->
            <div id="content" class="colM">
                <div id="content-main">
                    {% if form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        Please enter your email
                    </div>
                    {% endif %}
                    <form method="post" id="login-form">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                                <small id="emailHelp" class="form-text text-muted">Forgotten your password? Enter your e-mail address above, and we'll send you an e-mail allowing you to reset it.</small>
                            </div>
                        </div>

                        <div class="submit-row">
                            <input class="btn btn-outline-info" type="submit" />
                        </div>
                    </form>
                </div>

                <br class="clear" />
            </div>
            <div id="footer"></div>
        </div>
    </div>

</div>

<div class="footer">
    Please contact us if you have any trouble resetting your password.
</div>

{% endblock content-ex %} {% block js %} {% endblock js %}