.nav-logo {
    height: 60px;
    margin-left: 25%;
}

.search-input {
    padding-right: 30px;
    padding-left: 20px;
    border-left: none;
    border-right: none;
    border-radius: calc(1.5em + .75rem + 2px);
    /* border-bottom-left-radius: calc(1.5em + .75rem + 2px); */
    background-color: white;
    width: 100%!important;
}

.search-button {
    margin-left: -53px;
    height: 37px;
    width: 45px;
    border: none;
    background: #ced4da;
    z-index: 1;
    font-size: 16px;
    color: white;
    font-style: italic;
    border-bottom-right-radius: 38px;
    border-top-right-radius: 38px;
    border-color: #ced4da;
}

.search-button:focus {
    outline: unset;
}

@media screen and (max-width:576px) {
    .nav-logo {
        height: 50px;
        margin-left: 0;
    }
    .search-button {
        margin-left: -45px;
    }
}