.nav-logo {
    height: 60px;
    margin-left: 25%;
}

.search-input {
    padding-right: 40px;
    padding-left: 20px;
    border-left: none;
    border-right: none;
    border-radius: calc(1.5em + .75rem + 2px);
    background-color: white;
}

.search-button {
    margin-left: -50px;
    margin-top: -5px;
    height: 20px;
    width: 20px;
    border: none;
    background: transparent;
    /* background: url('../assets/ic_search.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%; */
    z-index: 1;
}

.search-button:focus {
    outline: unset;
}

@media screen and (max-width:576px) {
    .nav-logo {
        height: 50px;
        margin-left: 0;
    }
}