* {
  scroll-behavior: smooth;
}

/* html {
  scrollbar-width: none;
} */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #efefef;
  /* scrollbar-width: none; */
  /* scrollbar-color: transparent transparent; */
}

h1 {
  color: #4c458b;
  font-weight: 600;
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-left: 40px;
  margin-top: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
}

/* .slide {
  width: 40vw;
  height: 40vh;
} */

.menu-bar ul {
  display: flex;
}

.menu-bar ul a {
  list-style: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu-bar ul a li {
  display: inline-block;
  margin: 0 40px;
  padding: 20px 0;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.menu-bar ul a:hover {
  background-color: #1f1a4d;
}

.menu-bar ul li a:hover {
  transform: scale(1.1);
}

.active2 {
  background-color: #1f1a4d;
}

.menu-bar ul {
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #4c458b;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  display: none;
}

/* CARD */

.notes {
  text-align: center;
  color: #1f1a4d;
  text-decoration: underline;
}

.card {
  color: #4c458b;
  box-shadow: 2px 2px 10px #000;
  border-radius: 5px;
  margin: 20px 0 40px 40px;
  max-width: 300px;
  min-width: 300px;
  max-height: 160px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(120deg, transparent 50%, #4c458b 50%);
  background-size: 265%;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: translateY(-10px) scale(1.04);
  background-position: 100%;
  background-color: #4c458b;
  color: #fff;
}

.card:hover .subject-name a {
  color: #fff;
}

.card:hover .subject-short {
  color: #fff;
  border-color: #fff;
}

.card:hover .read {
  border-bottom: 2px solid #fff;
}

/* BUTTON */
.read {
  border-bottom: 2px solid #4c458b;
  float: left;
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.read:hover {
  color: rgb(238, 234, 234);
  transform: translateY(-2px);
}

.read-button {
  background-color: #4c458b;
  color: #fff;
  padding: 7px 13px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 13.3px;
  border: 1px solid #4c458b;
  cursor: pointer;
  margin-top: 25px;
}

.read-button:focus {
  outline: none;
}

.card:hover .read-button {
  background-color: #fff;
  color: #4c458b;
}

.image {
  padding: 24px;
}

.image-container {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .image-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
} */

.subject-short {
  height: 70px;
  width: 70px;
  min-width: 70px;
  min-height: 70px;
  /* flex: 0.3; */
  border-radius: 50%;
  border: 2px solid #4c458b;
  color: #4c458b;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
}

.subject-name a {
  color: #4c458b;
}

.subject-name h2 {
  text-align: left;
  font-weight: 400;
  font-size: 1rem;
}

.subject-name h5 {
  font-size: 0.6rem;
  font-weight: bold;
}

.author {
  text-align: center;
}

.author p {
  font-size: 0.6rem;
}

.author-name {
  font-weight: 600;
  /* font-size: 0.6rem; */
}

.author-duration {
  /* font-size: 0.6rem; */
}

.subject-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

hr {
  border-style: dotted;
  border-width: 5px 0 0 0;
  color: #777;
  width: 5%;
  margin-bottom: 80px;
}

@media (max-width: 1200px) {
  .subject-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .subject-container {
    grid-template-columns: 1fr;
  }

  /* .image-container {
    flex-direction: column;
  } */

  /* .subject-name h2 {
    display: none;
  } */

  /* .card {
    margin: 15px;
  } */

  .navbar-list {
    justify-content: center;
  }

  /* .author p {
    margin: 0 10px;
  } */
}

@media (max-width: 600px) {
  h1 {
    margin-left: 10px;
  }
  .subject-name h2 {
    display: none;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
  .card {
    margin: 20px 0 40px;
    max-width: 250px;
    min-width: 250px;
    max-height: 150px;
    min-height: 150px;
  }
  .read-button {
    padding: 5px 10px;
    font-size: 10px;
    margin: 8px 0;
  }
  .read {
    font-size: 0.6rem;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

.footer {
  background-color: #4c458b;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  margin-top: 12rem;
  padding: 50px;
}

@media (max-width: 500px) {
  ul a li {
    font-size: 10px;
  }
}
