body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

header {
  background-color: #fff;
  height: 80px;
}

header a img {
  width: 260px;
}

.upload-container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-form {
  background-color: #fff;
  box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 30px 50px;
  width: 35%;
}

label {
  font-weight: 600;
  color: #777;
}

.input-container {
  margin: 5px auto 15px auto;
}

input {
  display: block;
  width: 100%;
  border-radius: 5px;
  margin: 9px 0 20px 0;
}

.input-text {
  padding: 16px;
  background-color: #f2f2f2;
  border: none;
  color: #777;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-in-out;
}

.input-text:focus {
  outline: none;
  border-bottom: 3px solid #4c458b;
}

::placeholder {
  color: rgba(119, 119, 119, 0.7);
}

.input-file {
  color: #777;
}

.input-container-inline-dropdown {
  display: flex;
  justify-content: space-between;
}

.row-fluid .btn-group {
  width: 100% !important;
}

.btn-group .btn {
  color: #777;
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 5px;
  margin: 9px 0 20px 0;
  outline: none !important;
  border: none !important;
}

.btn-group .btn:focus {
  outline: none !important;
}

/* .input-container-block-dropdown div {
  width: 100%;
  display: flex;
  align-items: center;
} */

/* .input-container-block-dropdown div label {
  flex: 0.4;
}

.input-container-block-dropdown div select {
  flex: 0.6;
} */

select {
  outline: none;
  background-color: #f2f2f2;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
}

select:active,
select:focus {
  outline: none;
  border: none;
}

#file-label {
  font-weight: 400;
  font-size: 14px;
  color: #4c458b;
  padding: 2px 5px;
  border-bottom: 2px solid #4c458b;
  transition: all 0.3s ease-in-out;
}

#file-label:hover {
  background-color: #4c458b;
  color: #fff;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

#file-container {
  transition: all 0.3s ease-in-out;
}

#file-container:hover {
  transform: translateY(-2px);
}

#file {
  display: none;
}

.btn-submit {
  background-color: #4c458b;
  color: #fff;
  border-radius: 50px;
  padding: 8px 15px;
  margin: 10px 0 0 0;
  float: right;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: all.3s ease-in-out;
}

.btn-submit:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

.btn-submit:focus,
.btn-submit:active {
  border: none;
  outline: none;
}

::selection {
  background-color: #4c458b;
  color: #fff;
}
