<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/afterLogin.css" />
    <script src="js/afterLogin.js" defer></script>
  </head>
  <body>
    <!-- I -->
    <h1 style="text-align: center; text-decoration: underline">
      Recommendations
    </h1>
    <div class="outer-wrapper">
      <div class="wrapper recommend">
        <!-- 1 -->
        <div class="card">
          <div class="image-container">
            <div class="subject-short">FLAT</div>
            <div class="subject-name">
              <h2>Formal Language and Automata Theory</h2>
              <h5>MODULE-I</h5>
            </div>
          </div>
          <div class="author">
            <p>
              Author:
              <span class="author-name">D. Goswami & K.V Krishna</span> |
              <span class="author-duration">size: 1.4MB</span>
            </p>
            <a href="images/Java Module-2.pdf" target="_blank"
              ><button class="read-button">READ NOW</button></a
            >
          </div>
        </div>
        <!-- 2 -->
        <div class="card">
          <div class="image-container">
            <div class="subject-short">M-II</div>
            <div class="subject-name">
              <h2>Applied Mathematics - II</h2>
              <h5>MODULE-I</h5>
            </div>
          </div>
          <div class="author">
            <p>
              Author:
              <span class="author-name">D. Goswami & K.V Krishna</span> |
              <span class="author-duration">size: 1.4MB</span>
            </p>
            <a href="images/Java Module-2.pdf" target="_blank"
              ><button class="read-button">READ NOW</button></a
            >
          </div>
        </div>
        <!-- 3 -->
        <div class="card">
          <div class="image-container">
            <div class="subject-short">FLAT</div>
            <div class="subject-name">
              <h2>Formal Language and Automata Theory</h2>
              <h5>MODULE-II</h5>
            </div>
          </div>
          <div class="author">
            <p>
              Author:
              <span class="author-name">D. Goswami & K.V Krishna</span> |
              <span class="author-duration">size: 1.4MB</span>
            </p>
            <a href="images/Java Module-2.pdf" target="_blank"
              ><button class="read-button">READ NOW</button></a
            >
          </div>
        </div>
        <!-- 4 -->
        <div class="card">
          <div class="image-container">
            <div class="subject-short">CNS</div>
            <div class="subject-name">
              <h2>Cryptography and Network Security</h2>
              <h5>MODULE-I</h5>
            </div>
          </div>
          <div class="author">
            <p>
              Author:
              <span class="author-name">D. Goswami & K.V Krishna</span> |
              <span class="author-duration">size: 1.4MB</span>
            </p>
            <a href="images/Java Module-2.pdf" target="_blank"
              ><button class="read-button">READ NOW</button></a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- II -->
    <h1 style="text-align: center; text-decoration: underline">Most Viewed</h1>
    <div class="outer-wrapper">
      <div class="wrapper most-viewed">
        <!-- 1 -->
        <div class="card">
          <div class="image-container">
            <div class="subject-short">FLAT</div>
            <div class="subject-name">
              <h2>Formal Language and Automata Theory</h2>
              <h5>MODULE-I</h5>
            </div>
          </div>
          <div class="author">
            <p>
              Author:
              <span class="author-name">D. Goswami & K.V Krishna</span> |
              <span class="author-duration">size: 1.4MB</span>
            </p>
            <a href="images/Java Module-2.pdf" target="_blank"
              ><button class="read-button">READ NOW</button></a
            >
          </div>
        </div>
        <!-- 2 -->
        <div class="card">
          <div class="image-container">
            <div class="subject-short">FLAT</div>
            <div class="subject-name">
              <h2>Formal Language and Automata Theory</h2>
              <h5>MODULE-II</h5>
            </div>
          </div>
          <div class="author">
            <p>
              Author:
              <span class="author-name">D. Goswami & K.V Krishna</span> |
              <span class="author-duration">size: 1.4MB</span>
            </p>
            <a href="images/Java Module-2.pdf" target="_blank"
              ><button class="read-button">READ NOW</button></a
            >
          </div>
        </div>
        <!-- 3 -->
        <div class="card">
          <div class="image-container">
            <div class="subject-short">FLAT</div>
            <div class="subject-name">
              <h2>Formal Language and Automata Theory</h2>
              <h5>MODULE-III</h5>
            </div>
          </div>
          <div class="author">
            <p>
              Author:
              <span class="author-name">D. Goswami & K.V Krishna</span> |
              <span class="author-duration">size: 1.4MB</span>
            </p>
            <a href="images/Java Module-2.pdf" target="_blank"
              ><button class="read-button">READ NOW</button></a
            >
          </div>
        </div>
        <!-- 4 -->
        <div class="card">
          <div class="image-container">
            <div class="subject-short">FLAT</div>
            <div class="subject-name">
              <h2>Formal Language and Automata Theory</h2>
              <h5>MODULE-IV</h5>
            </div>
          </div>
          <div class="author">
            <p>
              Author:
              <span class="author-name">D. Goswami & K.V Krishna</span> |
              <span class="author-duration">size: 1.4MB</span>
            </p>
            <a href="images/Java Module-2.pdf" target="_blank"
              ><button class="read-button">READ NOW</button></a
            >
          </div>
        </div>
        <!-- 5 -->
        <div class="card">
          <div class="image-container">
            <div class="subject-short">M-II</div>
            <div class="subject-name">
              <h2>Applied Mathematics - II</h2>
              <h5>MODULE-I</h5>
            </div>
          </div>
          <div class="author">
            <p>
              Author:
              <span class="author-name">D. Goswami & K.V Krishna</span> |
              <span class="author-duration">size: 1.4MB</span>
            </p>
            <a href="images/Java Module-2.pdf" target="_blank"
              ><button class="read-button">READ NOW</button></a
            >
          </div>
        </div>
        <!-- 6 -->
        <div class="card">
          <div class="image-container">
            <div class="subject-short">CNS</div>
            <div class="subject-name">
              <h2>Cryptography and Network Security</h2>
              <h5>MODULE-I</h5>
            </div>
          </div>
          <div class="author">
            <p>
              Author:
              <span class="author-name">D. Goswami & K.V Krishna</span> |
              <span class="author-duration">size: 1.4MB</span>
            </p>
            <a href="images/Java Module-2.pdf" target="_blank"
              ><button class="read-button">READ NOW</button></a
            >
          </div>
        </div>
        <!-- 7 -->
        <div class="card">
          <div class="image-container">
            <div class="subject-short">FLAT</div>
            <div class="subject-name">
              <h2>Formal Language and Automata Theory</h2>
              <h5>MODULE-I</h5>
            </div>
          </div>
          <div class="author">
            <p>
              Author:
              <span class="author-name">D. Goswami & K.V Krishna</span> |
              <span class="author-duration">size: 1.4MB</span>
            </p>
            <a href="images/Java Module-2.pdf" target="_blank"
              ><button class="read-button">READ NOW</button></a
            >
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="row inner">
        <copy class="copyright col-12 d-flex justify-content-center">
          ©copyright
          <script>
            document.write(new Date().getFullYear());
          </script>
          Team Ed-Flix
        </copy>
      </div>
      <p class="text-center">
        Website designed and developed by
        <strong
          ><a href="https://github.com/EdFlix5" style="color: #ffffff"
            >Team Ed-Flix</a
          ></strong
        >
      </p>
    </footer>
  </body>
</html>
