 {% extends 'base.html' %} {% load static %} {% block title %}Ed-Flix: An E-Learning Hub {% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="shortcut icon" href="Favicon_White.png" type="image/x-icon"> {% endblock css %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>


</head>

{% block content %}
<!-- partial:index.partial.html -->
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">ED-FLIX</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">
            <strong>{{request.user}}</strong>
          </span> {% if request.user.is_superuser %}
                    <span class="user-role">Administrator</span> {% else %}
                    <span class="user-role">User</span> {% endif %}
                    <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>{% if request.user.is_active %} Online  {% else %} Offline {% endif %}</span>
                    </span>
                </div>
            </div>
            <!-- sidebar-header  -->
            <!--
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    -->
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <span>Branch</span>
                            <!-- <span class="badge badge-pill badge-warning">New</span>  -->
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">Computer Science
                  <!--  <span class="badge badge-pill badge-success">Pro</span> -->
                  </a>
                                </li>
                                <li>
                                    <a href="#">Mechanical</a>
                                </li>
                                <li>
                                    <a href="#">Civil</a>
                                </li>
                                <li>
                                    <a href="#">Electrical</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <span>Download</span>
                        </a>
                        <!--<div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Products

                  </a>
                </li>
                <li>
                  <a href="#">Orders</a>
                </li>
                <li>
                  <a href="#">Credit cart</a>
                </li>
              </ul>
            </div>
          -->
                    </li>
                    <!--<li class="sidebar-dropdown"> -->
                    <li>
                        <a href="#">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            <span>Upload</span>
                        </a>
                        <!--
              <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">General</a>
                </li>
                <li>
                  <a href="#">Panels</a>
                </li>
                <li>
                  <a href="#">Tables</a>
                </li>
                <li>
                  <a href="#">Icons</a>
                </li>
                <li>
                  <a href="#">Forms</a>
                </li>
              </ul>
            </div>
          -->
          <!--
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-chart-line"></i>
                            <span>Charts</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">Pie chart</a>
                                </li>
                                <li>
                                    <a href="#">Line chart</a>
                                </li>
                                <li>
                                    <a href="#">Bar chart</a>
                                </li>
                                <li>
                                    <a href="#">Histogram</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-globe"></i>
                            <span>Maps</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">Google maps</a>
                                </li>
                                <li>
                                    <a href="#">Open street map</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    -->
                    <!--
                        
                    <li class="header-menu">
                        <span>Extra</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-book"></i>
                            <span>Documentation</span>
                            <span class="badge badge-pill badge-primary">Beta</span>
                        </a>
                    </li>
                    -->
                    
                    <li>
                        <a href="#">
                            <i class="fa fa-calendar"></i>
                            <span>Calendar</span>
                        </a>
                    </li>
                    <!--
                    <li>
                        <a href="#">
                            <i class="fa fa-folder"></i>
                            <span>Examples</span>
                        </a>
                    </li>
                    -->
                </ul>
            </div>
            -->
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">0</span>
            </a>
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">0</span>
            </a>
            <a href="#">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <a href="api/logout">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <header class="header-fixed">

            <div class="header-limiter">
                <img class="nav-logo" src="{% static 'assets/logo_blue.svg' %}" alt="Ed-Flix">


                <!--Navbar-->
                <nav class="navbar navbar-expand-lg navbar-light blue-grey lighten-5 mb-4">

                    <!-- Navbar brand -->


                    <!-- Collapse button -->
                    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>-->

                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <!-- Links -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#"><a class="navbar-brand" href="javascript:void(0)">Home</a> <span class="sr-only">(current)</span></a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="#">Lectures</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Notes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact Us</a>
                            </li>

                            <!-- Dropdown -->
                            <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    -->
                        </ul>
                        <!-- Links -->

                        <!-- Search form -->
                        <form class="form-inline">
                            <i class="fas fa-search" aria-hidden="true"></i>
                            <input class="form-control" type="text" placeholder="Search" aria-label="Search">

                        </form>

                    </div>
                    <!-- Collapsible content -->

                </nav>
                <!--/.Navbar-->
                <!--
        <nav>
        <a href="/">Home</a>
        <a href="/lectures">Lectures</a>
        <a href="/notes">Notes</a>
        <a href="/contact">Contact</a>
        </nav>
      </div>
    -->
        </header>
        <div class="container">

            <h2>Pro Sidebar</h2>
            <hr>
            <div class="row">
                <div class="form-group col-md-12">
                    <p>This is a responsive sidebar template with dropdown menu based on bootstrap 4 framework.</p>
                    <p> You can find the complete code on <a href="https://github.com/azouaoui-med/pro-sidebar-template" target="_blank">
              Github</a>, it contains more themes and background image option</p>
                </div>
                <div class="form-group col-md-12">
                    <iframe src="https://ghbtns.com/github-btn.html?user=azouaoui-med&repo=pro-sidebar-template&type=star&count=true&size=small" frameborder="0" scrolling="0" width="90px" height="30px"></iframe>
                    <iframe src="https://ghbtns.com/github-btn.html?user=azouaoui-med&repo=pro-sidebar-template&type=fork&count=true&size=small" frameborder="0" scrolling="0" width="90px" height="30px"></iframe>
                </div>
                <div class="form-group col-md-12">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">New !</h4>
                        <p>New react pro sidebar library is now available on <a href="https://www.npmjs.com/package/react-pro-sidebar" target="_blank">npm</a>
                            <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                                <img alt="GitHub stars" src="https://img.shields.io/github/stars/azouaoui-med/react-pro-sidebar?style=social" />
                            </a>
                        </p>
                        <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank" class="btn btn-sm btn-primary mr-2">
              Github</a>
                        <a href="https://azouaoui-med.github.io/react-pro-sidebar" target="_blank" class="btn btn-sm btn-success">
              Demo</a>

                    </div>

                </div>
            </div>
            <h5>More templates</h5>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="card rounded-0 p-0 shadow-sm">
                        <img src="https://user-images.githubusercontent.com/25878302/58369568-a49b2480-7efc-11e9-9ca9-2be44afacda1.png" class="card-img-top rounded-0" alt="Angular pro sidebar">
                        <div class="card-body text-center">
                            <h6 class="card-title">Angular Pro Sidebar</h6>
                            <a href="https://github.com/azouaoui-med/angular-pro-sidebar" target="_blank" class="btn btn-primary btn-sm">Github</a>
                            <a href="https://azouaoui-med.github.io/angular-pro-sidebar/demo/" target="_blank" class="btn btn-success btn-sm">Demo</a>
                            <hr>
                            <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                                <img alt="GitHub stars" src="https://img.shields.io/github/stars/azouaoui-med/angular-pro-sidebar?style=social" />
                            </a>
                            <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                                <img alt="GitHub stars" src="https://img.shields.io/github/forks/azouaoui-med/angular-pro-sidebar?style=social" />
                            </a>

                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="card rounded-0 p-0 shadow-sm">
                        <img src="https://user-images.githubusercontent.com/25878302/58369258-33f20900-7ef8-11e9-8ff3-b277cb7ed7b4.PNG" class="card-img-top rounded-0" alt="Angular pro sidebar">
                        <div class="card-body text-center">
                            <h6 class="card-title">Angular Dashboard</h6>
                            <a href="https://github.com/azouaoui-med/lightning-admin-angular" target="_blank" class="btn btn-primary btn-sm">Github</a>
                            <a href="https://azouaoui-med.github.io/lightning-admin-angular/demo/" target="_blank" class="btn btn-success btn-sm">Demo</a>
                            <hr>
                            <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                                <img alt="GitHub stars" src="https://img.shields.io/github/stars/azouaoui-med/lightning-admin-angular?style=social" />
                            </a>
                            <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                                <img alt="GitHub stars" src="https://img.shields.io/github/forks/azouaoui-med/lightning-admin-angular?style=social" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <footer class="text-center">
                <div class="mb-2">
                    <small>
            Ed-Flix &copy <script>document.write(new Date().getFullYear())</script>, Made with <i class="fa fa-heart" style="color:red"></i> In India
          </small>
                </div>

            </footer>

        </div>

    </main>
    <!-- page-content" -->
    </div>
    <!-- page-wrapper -->

    {% endblock content %}

    <!-- partial -->
    {% block js %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js'></script>
    <script src="{% static 'js/home.js' %}"></script>
    {% endblock js %}

    </body>

</html>