{% extends 'base.html' %}

{% block title %}
Ed-Flix : An E-Learning Hub
{% endblock title %}

{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/home-styles.css' %}">
    <script src="{% static 'js/index.js' %}" defer></script>
    <style>

        html{
            scroll-behavior: smooth;
        }

        body {
            padding: 0 25px;
            background-color: #f7f7f7;
        }

        h5{
            font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;;
        }
        .btn {
            background-color: #4c458b;
            border-color: #4c458b;
            transition: all .5s ease-in-out;
        }

        .btn:hover, .btn:focus, .btn:active {
            background-color: #332c74 !important;
            border-color: #332c74 !important;
            box-shadow: 0 0 0 .2rem #332c74 !important;
        }

        .footer-logo {
            transition: all 0.3s ease-in-out;
            display: inline-block;
        }

        .footer-logo:hover {
            color: #fff !important;
            box-shadow: 0 1.4rem 2rem rgba(0, 0, 0, .9);
            transform: scale(1.1) rotate(4deg);
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Lato', sans-serif !important;
            background-image: linear-gradient(to right, #938dc7, #2e2c2c);
            -webkit-background-clip: text;
            color: transparent;
            font-weight: 600;
        }

        h3 {
            margin-top: 30px;
        }

        .header {
            height: 85vh;
            position: relative;
            background-image: linear-gradient(to bottom right, rgba(147, 141, 199, .8), rgba(33, 26, 97, 0.8)), url("{% static 'assets/images/hero-11.jpg' %}");
            background-size: cover;
            background-position: top;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%); 
        }

        .heading-primary {
            color: #eee;
            text-transform: uppercase;
            backface-visibility: hidden;
            /* Especially for the buttton */
            margin-bottom: 6rem;
        }
        .heading-primary--main {
            display: block;
            font-size: 65px;
            font-weight: 800;
            letter-spacing: 1rem;
            font-style: oblique;
            animation-name: moveInLeft;
            animation-duration: 1.2s;
            animation-timing-function: ease-in-out;
            margin-bottom: 10px;
            }

        .heading-primary--sub {
            display: block;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: .8rem;
            animation: moveInRight 1.2s ease-in-out;
        }

        @keyframes moveInLeft {
            0% {
                opacity: 0;
                transform: translateX(-10rem); }
            80% {
                opacity: 0.8;
                transform: translateX(1rem); }
            100% {
                opacity: 1;
                transform: translateX(0); }
            }

        @keyframes moveInRight {
            0% {
                opacity: 0;
                transform: translateX(10rem); }
            80% {
                opacity: 0.8;
                transform: translateX(-1rem); }
            100% {
                opacity: 1;
                transform: translateX(0); }
            }

        .header__text-box {
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%);
            text-align: center;
            }

            @media (max-width: 600px) {
                {% comment %} .navbar {
                    height: 11vh !important;
                } {% endcomment %}

                .heading-primary--main {
                    font-size: 30px;
                    letter-spacing: 1rem;
                }

                .heading-primary--sub {
                    font-size: 10px;
                    letter-spacing: 0.3rem;
                }

                .btn2 {
                    padding: .6rem 1.2rem !important;
                    border-radius: 10rem !important;
                    font-size: 1rem !important;
                    font-color : #0099ff;
                }
            }

            @media (max-width: 500px) {
                {% comment %} .navbar {
                    height: 11vh !important;
                } {% endcomment %}

                .heading-primary--main {
                    font-size: 25px;
                    letter-spacing: .5rem;
                }

                .heading-primary--sub {
                    font-size: 8px;
                    letter-spacing: 0.3rem;
                }
            }

            .btn2, .btn2:link, .btn2:visited {
                text-transform: uppercase;
                text-decoration: none;
                padding: 1rem 2rem;
                border-radius: 10rem;
                font-size: 1rem;
                display: inline-block;
                position: relative;
                transition: all ease-in-out .5s;
                border: none;
                cursor: pointer;
            }

            .btn2:hover {
                transform: translateY(-0.3rem);
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
                color: #777;
            }

            .btn2:focus, .btn2:active {
            outline: none;
            transform: translateY(-0.1rem);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            }

            .btn--white {
            background-color: #eee;
            color: #777;
            }

            .btn--animated {
                animation: moveInBottom .5s ease-in-out .75s;
                animation-fill-mode: backwards;
            }
            @keyframes moveInBottom {
                0% {
                    opacity: 0;
                    transform: translateY(3rem);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0);
                } 
            }

    </style>

    
{% endblock css %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed">
        <a class="navbar-brand" href="/"><img class="nav-logo" src = "{% static 'assets/logo_blue.svg' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
           
            <!-- SEARCHBAR -->
            <form class="form-inline my-2 my-lg-0 ml-auto" method="post">
            {% csrf_token %}
                <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search">
                <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
                
            </form>

             <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item active">
                    {% if not request.user.is_authenticated %}
                        <a class="nav-link" href="javascript:void(0)" onclick="viewModal()"><button class="btn btn-primary">Login/Signup</button></a>
                    {% else %}
                       <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{request.user}}
                            </button>
                            <div class="dropdown-menu" style="right:0;left:auto;">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Log Out</a>
                            </div>
                        </div>
                    {% endif %}   
                </li>
            </ul>
        </div>
    </nav>

        <!--carousel-->
    <!-- <div class="container-fluid my-0 px-0">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="{% static 'assets/images/sample1.jpg' %}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>First slide label</h5>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
              </div>
              <div class="carousel-item">
                  <img src="{% static 'assets/images/sample2.1.jpg' %}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide label</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
              </div>
              <div class="carousel-item">
                  <img src="{% static 'assets/images/sample3.jpg' %}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>Third slide label</h5>
                      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
    </div> -->

    <!-- HERO -->
    <div class="header">
        <div class="header__text-box">
            <h1 class="heading-primary">
              <span class="heading-primary--main">ED-FLIX</span>
              <span class="heading-primary--sub">an e-learning hub</span>
            </h1>
            <a href="#features" class="btn2 btn--white btn--animated">EXPLORE NOW</a>
          </div>
    </div>

    <!-- Features -->

      <section class="white-section" id="features">
        <h1>What We Offer</h1>
        <div class="row">
          <div class="col-lg-4 feature-section">
            <img src="{% static 'assets/images/feature1.png' %}">
            <h3 class="feature-heading">University and Lab Notes</h3>
            <p></p>
          </div>
          <div class="col-lg-4 feature-section">
            <img src="{% static 'assets/images/feature2.png' %}">
            <h3 class="feature-heading">Exam Questions and Syllabus</h3>
            <p></p>
          </div>
          <div class="col-lg-4 feature-section">
            <img src="{% static 'assets/images/feature3.png' %}">
            <h3 class="feature-heading">Lectures and Tutorials</h3>
            <p></p>
          </div>
        </div>

      </section>


    <!--Jumbotron-->
    <!-- <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div> -->

    <!-- card -->
    <div class="container-fluid" id="#branch">
      <h1>Select Your Branch</h1>
        <div class="row">

            <div class="branch-column col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <img src="{% static 'assets/images/CSE.jpg' %}" class="card-img-top" alt="...">
                  </div>
                    <div class="card-body">
                        <h4 class="card-title">Computer Science Engineering</h4>
                        <p class="card-text">Computer Science & Engineering is an academic program at many universities which comprises scientific and engineering aspects of computing.</p>
                        <a href="{% url 'explore' %}?sub=cse" class="btn btn-primary">Explore here</a>
                    </div>
                </div>
            </div>

            <div class="branch-column col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <img src="{% static 'assets/images/Mech_Engg.jpg' %}" class="card-img-top" alt="...">
                  </div>
                    <div class="card-body">
                        <h4 class="card-title">Mechanical Engineering</h4>
                        <p class="card-text">Mechanical engineering is an engineering branch that combines engineering physics and mathematics principles with materials science to design, analyze, <span id="more-ME" style="display: none;" > manufacture, and maintain mechanical systems. </span><span id="dots-ME" onclick="toggleCardText('more-ME', 'dots-ME')">more...</span></p>
                        <a href="{% url 'explore' %}?sub=mechanical" class="btn btn-primary">Explore here</a>
                    </div>
                </div>
            </div>

            <div class="branch-column col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <img src="{% static 'assets/images/Civil_Engg.jpg' %}" class="card-img-top" alt="...">
                  </div>
                    <div class="card-body">
                        <h4 class="card-title">Civil Engineering</h4>
                        <p class="card-text">Civil engineering is a professional engineering discipline that deals with the design, construction, and maintenance of the physical and naturally built environment, including public <span id="more-CIV" style="display: none;"> works such as roads, bridges, canals, dams, airports, sewerage systems, pipelines, structural components of buildings, and railways. </span><span id="dots-CIV" onclick="toggleCardText('more-CIV', 'dots-CIV')">more...</span></p>
                        <a href="{% url 'explore' %}?sub=civil" class="btn btn-primary">Explore here</a>
                    </div>
                </div>
            </div>

            <div class="branch-column col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <img src="{% static 'assets/images/Elec_Engg.jpg' %}" class="card-img-top" alt="...">
                  </div>
                    <div class="card-body">
                        <h4 class="card-title">Electrical Engineering</h4>
                        <p class="card-text">Electrical engineering is an engineering discipline concerned with the study, design and application of equipment, devices and systems which use <span id="more-EE" style="display: none;"> electricity, electronics, and electromagnetism. </span><span id="dots-EE" onclick="toggleCardText('more-EE', 'dots-EE')">more...</span></p>
                        <a href="{% url 'explore' %}?sub=electrical" class="btn btn-primary">Explore here</a>
                    </div>
                </div>
            </div>

            <div class="branch-column col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <img src="{% static 'assets/images/ETC.jpg' %}" class="card-img-top" alt="...">
                  </div>
                    <div class="card-body">
                        <h4 class="card-title">Electronics and Telecommunication Engineering</h4>
                        <p class="card-text">Electronics and Telecommunication Engineering deals with the reception of <span id="more-ETC" style="display: none;"> video, microprocessors, analogue communication, digital and analogue integrated circuits, satellite communication, antennae and wave progression, solid-state devices, voice and data etc. </span><span id="dots-ETC" onclick="toggleCardText('more-ETC', 'dots-ETC')">more...</span></p>
                        <a href="{% url 'explore' %}?sub=etc" class="btn btn-primary">Explore here</a>
                    </div>
                </div>
            </div>

            <div class="branch-column col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <img src="{% static 'assets/images/Chem_Engg.jpg' %}" class="card-img-top" alt="...">
                  </div>
                    <div class="card-body">
                        <h4 class="card-title">Chemical Engineering</h4>
                        <p class="card-text">Chemical engineering is a branch of engineering which deals with the study of design and operation of chemical plants as well as methods of improving production.</p>
                        <a href="{% url 'explore' %}?sub=chemical" class="btn btn-primary">Explore here</a>
                    </div>
                </div>
            </div>

            <div class="branch-column col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <img style="height: 157.8px;" src="{% static 'assets/images/Mett_Engg.jpg' %}" class="card-img-top" alt="...">
                  </div>
                    <div class="card-body">
                        <h4 class="card-title">Metallurgical Engineering</h4>
                        <p class="card-text">Metallurgy is a domain of materials science that studies the physical and chemical behavior of metallic elements, their intermetallic compounds and their mixtures called alloys.</p>

                        <a href="{% url 'explore' %}?sub=metallurgy" class="btn btn-primary">Explore here</a>

                    </div>
                </div>
            </div>

            <div class="branch-column col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <img src="{% static 'assets/images/Prod_Engg.jpg' %}" class="card-img-top" alt="...">
                  </div>
                    <div class="card-body">
                        <h4 class="card-title">Production Engineering</h4>
                        <p class="card-text">Production Engineering, also known as Manufacture Engineering, deals with planning, designing, developing and managing of various processes to produce high quality products.</p>

                        <a href="{% url 'explore' %}?sub=production" class="btn btn-primary">Explore here</a>

                    </div>
                </div>
            </div>

        
            
            <div class="branch-column col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <img src="{% static 'assets/images/Mining_Engg.jpg' %}" class="card-img-top" alt="...">
                  </div>
                    <div class="card-body">
                        <h4 class="card-title">Mining Engineering</h4>
                        <p class="card-text"> Mining engineering is associated with many other disciplines, such as mineral processing, exploration, excavation, geology, and metallurgy, geotechnical engineering and surveying.</p>

                        <a href="{% url 'explore' %}?sub=mining" class="btn btn-primary">Explore here</a>

                    </div>
                </div>
            </div>
            <!-- <div class="branch-column col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 20rem;">
                  <div class="card-header">
                    <img src="{% static 'assets/images/sample5.jpg' %}" class="card-img-top" alt="...">
                  </div>
                    <div class="card-body">
                        <h5 class="card-title">Extra curricular</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                        <a href="subject.html" class="btn btn-primary">Explore here</a>
                    </div>
                </div>
            </div> -->
        </div>
        <h2 style="padding: 20px;">Thank you for visiting us</h2>
    </div>


<!-- Footer -->

  <footer>
        <div class="row">
            <div class="col-sm-12 col-lg-4 col-md-2"><p class="h3">About us</p><br>
            <p>
           <span class="footer-logo" style="color: #0099ff">Ed-Flix</span> provides a free platform to the students, teachers and learning enthusiasts to gain and provide undefined knowledge for various puposes.
            </p>
            </div>
            <div class="col-sm-12 col-lg-4 col-md-2"><p class="h3">Contact us</p><br>
    <p>  Email:<a href= mailto:edflix5@gmail.com> edflix5@gmail.com</a></p></div>
            <div class="col-sm-12 col-lg-4 col-md-2"></div>
        </div>
        <hr style="background:white;">
        <div class="row">
            <div class="col-12">
            Ed-Flix &copy; <script>document.write(new Date().getFullYear())</script> All rights reserved. 
            </div>
        </div>
         <br>
        <br>
    {% comment %} <i class="social-icons fab fa-facebook-f"></i>
    <i class="social-icons fab fa-twitter"></i>
    <i class="social-icons fab fa-github"></i>
    <p>© Copyright <script>document.write(new Date().getFullYear())</script> Ed-Flix</p>
    <div class="about">
    

    <p class="about-para">commodo ullamcorper a lacus vestibulum. Cursus eget nunc scelerisque viverra mauris in aliquam.
    Dictumst quisque sagittis purus sit amet volutpat consequat. Semper risus in hendrerit gravida.
     Amet facilisis magna etiam tempor orci. Ac orci phasellus egestas tellus rutrum tellus pellentesque.</p>
    </div>

    <div class="contact">
    
    </div> {% endcomment %}


  </footer>

    <div class="auth">

        <div class="login">
            <div class="wrap">
                <!-- TOGGLE -->
                <div id="toggle-wrap">
                    <div id="toggle-terms">
                        <div id="cross">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <!-- TERMS -->
                <div class="terms">
                    <h2>dp Terms of Service</h2>
                    <p class="small">Last modified: September 23, 2017</p>
                    <h3>Welcome to dp</h3>
                    <p>By using our Services, you are agreeing to these terms. Please read them carefully.</p>
                    <p>Our Services are very diverse, so sometimes additional terms or product requirements (including age requirements) may apply. Additional terms will be available with the relevant Services, and those additional terms become part of your agreement with us if you use those Services.</p>
                    <h3>Using our Services</h3>
                    <p>You must follow any policies made available to you within the Services.</p>
                    <p>Using our Services does not give you ownership of any intellectual property rights in our Services or the content you access. You may not use content from our Services unless you obtain permission from its owner or are otherwise permitted by law. These terms do not grant you the right to use any branding or logos used in our Services. Don’t remove, obscure, or alter any legal notices displayed in or along with our Services.</p>
                    <p>In connection with your use of the Services, we may send you service announcements, administrative messages, and other information. You may opt out of some of those communications.</p>
                    <h3>Your dp Account</h3>
                    <p>You may need a dp Account in order to use some of our Services. You may create your own dp Account, or your dp Account may be assigned to you by an administrator, such as your employer or educational institution. If you are using a dp Account assigned to you by an administrator, different or additional terms may apply and your administrator may be able to access or disable your account.</p>
                    <p>To protect your dp Account, keep your password confidential. You are responsible for the activity that happens on or through your dp Account. Try not to reuse your dp Account password on third-party applications.</p>
                    <h3>Privacy and Copyright Protection</h3>
                    <p>dp’s privacy policies explain how we treat your personal data and protect your privacy when you use our Services. By using our Services, you agree that dp can use such data in accordance with our privacy policies.</p>
                    <p>We respond to notices of alleged copyright infringement and terminate accounts of repeat infringers according to the process set out in the U.S. Digital Millennium Copyright Act.</p>
                    <p>We provide information to help copyright holders manage their intellectual property online. If you think somebody is violating your copyrights and want to notify us, you can find information about submitting notices and dp’s policy about responding to notices in our Help Center.</p>
                    <h3>Modifying and Terminating our Services</h3>
                    <p>We are constantly changing and improving our Services. We may add or remove functionalities or features, and we may suspend or stop a Service altogether.</p>
                    <p>You can stop using our Services at any time, although we’ll be sorry to see you go. dp may also stop providing Services to you, or add or create new limits to our Services at any time.</p>
                    <p>We believe that you own your data and preserving your access to such data is important. If we discontinue a Service, where reasonably possible, we will give you reasonable advance notice and a chance to get information out of that Service.</p>
                    <h3>Our Warranties and Disclaimers</h3>
                    <p>We provide our Services using a commercially reasonable level of skill and care and we hope that you will enjoy using them. But there are certain things that we don’t promise about our Services.</p>
                    <p>OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS OR ADDITIONAL TERMS, NEITHER dp NOR ITS SUPPLIERS OR DISTRIBUTORS MAKE ANY SPECIFIC PROMISES ABOUT THE SERVICES. FOR EXAMPLE, WE DON’T MAKE ANY COMMITMENTS ABOUT THE CONTENT WITHIN THE SERVICES, THE SPECIFIC FUNCTIONS OF THE SERVICES, OR THEIR RELIABILITY, AVAILABILITY, OR ABILITY TO MEET YOUR NEEDS. WE PROVIDE THE SERVICES “AS IS”.</p>
                    <p>SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.</p>
                    <h3>Liability for our Services</h3>
                    <p>WHEN PERMITTED BY LAW, dp, AND dp’S SUPPLIERS AND DISTRIBUTORS, WILL NOT BE RESPONSIBLE FOR LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES.</p>
                    <p>TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF dp’S, AND ITS SUPPLIERS AND DISTRIBUTORS, FOR ANY CLAIMS UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES, IS LIMITED TO THE AMOUNT YOU PAID US TO USE THE SERVICES (OR, IF WE CHOOSE, TO SUPPLYING YOU THE SERVICES AGAIN).</p>
                    <p>IN ALL CASES, dp, AND ITS SUPPLIERS AND DISTRIBUTORS, WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.</p>
                    <h3>About these Terms</h3>
                    <p>We may modify these terms or any additional terms that apply to a Service to, for example, reflect changes to the law or changes to our Services. You should look at the terms regularly. We’ll post notice of modifications to these terms on this page. We’ll post notice of modified additional terms in the applicable Service. Changes will not apply retroactively and will become effective no sooner than fourteen days after they are posted. However, changes addressing new functions for a Service or changes made for legal reasons will be effective immediately. If you do not agree to the modified terms for a Service, you should discontinue your use of that Service.</p>
                    <p>If you do not comply with these terms, and we don’t take action right away, this doesn’t mean that we are giving up any rights that we may have (such as taking action in the future).</p>
                    <p>The laws of California, U.S.A., excluding California’s conflict of laws rules, will apply to any disputes arising out of or relating to these terms or the Services. All claims arising out of or relating to these terms or the Services will be litigated exclusively in the federal or state courts of Santa Clara County, California, USA, and you and dp consent to personal jurisdiction in those courts.</p>
                    <p>For information about how to contact dp, please visit our contact page.</p>
                </div>

                <!-- RECOVERY -->
                <div class="recovery">
                    <h2>Password Recovery</h2>
                    <p>Enter either the <strong>email address</strong> or <strong>username</strong> on the account and <strong>click Submit</strong></p>
                    <p>We'll email instructions on how to reset your password.</p>
                    <form class="recovery-form" action="{% url 'password_reset' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="email" class="input" id="user_recover" placeholder="Enter Email Here">
                        <input type="submit" class="button" value="Submit">
                    </form>
                    <p class="mssg">An email has been sent to you with further instructions.</p>
                </div>

                <!-- SLIDER -->
                <div class="content">
                    <!-- LOGO -->
                    <div class="logo">
                        <a href="javascript:void(0)" onclick="viewModal();"><i class="fa fa-times-circle"></i></a>
                    </div>
                    <!-- SLIDESHOW -->
                    <div id="slideshow">
                        <div class="one">
                            <h2><span>EVENTS</span></h2>
                            <p>Sign up to attend any of hundreds of events nationwide</p>
                        </div>
                        <div class="two">
                            <h2><span>LEARNING</span></h2>
                            <p>Thousands of instant online classes/tutorials included</p>
                        </div>
                        <div class="three">
                            <h2><span>GROUPS</span></h2>
                            <p>Create your own groups and connect with others that share your interests</p>
                        </div>
                        <div class="four">
                            <h2><span>SHARING</span></h2>
                            <p>Share your works and knowledge with the community on the public showcase section</p>
                        </div>
                    </div>
                </div>
                <!-- LOGIN FORM -->
                <div class="user">
                    <!-- ACTIONS
                    <div class="actions">
                        <a class="help" href="#signup-tab-content">Sign Up</a><a class="faq" href="#login-tab-content">Login</a>
                    </div>
                    -->
                    <div class="form-wrap">
                        <!-- TABS -->
                    	<div class="tabs">
                            <h3 class="login-tab"><a class="log-in active" href="#login-tab-content"><span>Login<span></a></h3>
                    		<h3 class="signup-tab"><a class="sign-up" href="#signup-tab-content"><span>Sign Up</span></a></h3>
                    	</div>
                        <!-- TABS CONTENT -->
                    	<div class="tabs-content">
                            <!-- TABS CONTENT LOGIN -->
                    		<div id="login-tab-content" class="active">
                    			<form class="login-form" action="{% url 'api_login' %}" method="post">
                                {% csrf_token %}
                    				<input type="text" class="input" id="user_login" name="user_name" autocomplete="off" placeholder="Username" required>
                    				<input type="password" class="input" id="login_pass" name="user_pass" autocomplete="off" placeholder="Password" required>
                    				<input type="checkbox" class="checkbox" checked id="remember_me">
                    				<label for="remember_me">Remember me</label>
                    				<input type="submit" class="button" value="Login">
                    			</form>
                                <div class="or_auth">
                                or
                                <a class="or_item" href="{% url 'google_login' %}">
                                    <img src="{% static 'assets/logos/google.svg' %}" style="background:white;border-radius:50%;" >
                                </a>
                                <a class="or_item">
                                    <img src="{% static 'assets/logos/facebook.svg' %}">
                                </a>
                                <a class="or_item" href="{% url 'twitter_login' %}">
                                    <img src="{% static 'assets/logos/twitt.svg' %}">
                                </a>

                                </div>
                    			<div class="help-action">
                    				<p><i class="fa fa-arrow-left" aria-hidden="true"></i><a class="forgot" href="#">Forgot your password?</a></p>
                    			</div>
                    		</div>
                            <!-- TABS CONTENT SIGNUP -->
                    		<div id="signup-tab-content">
                    			<form class="signup-form" action="{% url 'api_signup' %}" method="post">
                                {% csrf_token %}
                    				<input type="email" name="user_email" class="input" id="user_email" autocomplete="off" placeholder="Email" required>
                    				<input type="text" name="user_name" class="input" id="user_name" autocomplete="off" placeholder="Username" required>
                    				<input type="password" name="user_pass" class="input" id="user_pass" autocomplete="off" placeholder="Password" minlength="8" required>
                    				<input type="submit" class="button" value="Sign Up">
                    			</form>
                                <div class="or_auth">
                                or
                                <a class="or_item" href="{% url 'google_login' %}">
                                    <img src="{% static 'assets/logos/google.svg' %}" style="background:white;border-radius:50%;" >
                                </a>
                                <a class="or_item">
                                    <img src="{% static 'assets/logos/facebook.svg' %}">
                                </a>
                                <a class="or_item" href="{% url 'twitter_login' %}">
                                    <img src="{% static 'assets/logos/twitt.svg' %}">
                                </a>

                                </div>
                    			<div class="help-action">
                    				<p>By signing up, you agree to our</p>
                    				<p><i class="fa fa-arrow-left" aria-hidden="true"></i><a class="agree" href="#">Terms of service</a></p>
                    			</div>
                    		</div>

                           
                            <div class="message"></div>

                    	</div>
                	</div>
                </div>
            </div>
        </div>
    </div>


   
{% endblock content %}

{% block js %}

   
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/auth.js' %}"></script>
    <script>

    $('.login-form').submit(function(e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function(data) {
                if (data.status == "success")
                    window.location.href = "/";
                else {
                    console.log(data.message);
                    var res = `<div class="alert alert-danger"><a class="close" href="#" data-dismiss="alert">×</a>
                            ${data.message}
                            </div>`;
                    $('.message').html(res);
                }
            }
        });
    });



    $('.signup-form').submit(function(e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function(data) {
                if (data.status == "success")
                    window.location.href = "/";
                else {
                    console.log(data.message);
                    var res = `<div class="alert alert-danger"><a class="close" href="#" data-dismiss="alert">×</a>
                            ${data.message}
                            </div>`;
                    $('.message').html(res);
                }
            }
        });
    });

    </script>

{% endblock js %}