{% extends 'base.html' %}
{% load static %}

{% block css %}
 <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/subjectDetails.css' %}" />
    <style>
     html{
            scroll-behavior: smooth;
        }
    </style>
{% endblock css %}

{% block content %}

    <header class="header-fixed">
      <a class="navbar-brand" href="#"
        ><img class="nav-logo" src="{% static 'assets/logo_blue.svg' %}"
      /></a>
    </header>


      <iframe src="http://docs.google.com/gview?url=https://edflix5.pythonanywhere.com/static/assets/images/Java%20Module-2.pdf&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>
    <nav class="navbar">
      <ul class="navbar-list">
        <a href="#"><li class="navbar-item">NOTES</li></a>
        <a href="#pyq-section"><li class="navbar-item">PYQ</li></a>
        <a href="#gate-section"><li class="navbar-item">GATE PYQ</li></a>
      </ul>
    </nav>

    <div class="notes"><h1>NOTES</h1></div>

    <section id="notes-section">
      <div class="homes">
        <div class="home">
          <img src="{% static 'assets/images/sample-sub.png' %}" alt="sample1" class="home__img" />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>

          <a class="sub-link" href="{% static 'assets/images/Java Module-2.pdf' %}" target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
        <div class="home">
          <img src="{% static 'assets/images/sample-sub.png' %}" alt="sample1" class="home__img" />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a class="sub-link" href="{% static 'assets/images/Java Module-2.pdf' %}" target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
        <div class="home">
          <img src="{% static 'assets/images/sample-sub.png' %}" alt="sample1" class="home__img" />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a class="sub-link" href="{% static 'assets/images/Java Module-2.pdf' %}" target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
      </div>
    </section>
    <hr />
    <div class="notes"><h1>PYQ</h1></div>

    <section id="pyq-section">
      <div class="homes">
        <div class="home">
          <img src="{% static 'assets/images/sample-sub.png' %}" alt="sample1" class="home__img" />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a class="sub-link" href="{% static 'assets/images/Java Module-2.pdf' %}" target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
        <div class="home">
          <img src="{% static 'assets/images/sample-sub.png' %}" alt="sample1" class="home__img" />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a class="sub-link" href="{% static 'assets/images/Java Module-2.pdf' %}" target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
        <div class="home">
          <img src="{% static 'assets/images/sample-sub.png' %}" alt="sample1" class="home__img" />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a class="sub-link" href="{% static 'assets/images/Java Module-2.pdf' %}" target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
      </div>
    </section>
    <hr />
    <div class="notes"><h1>GATE PYQ</h1></div>

    <section id="gate-section">
      <div class="homes">
        <div class="home">
          <img src="{% static 'assets/images/sample-sub.png' %}" alt="sample1" class="home__img" />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a class="sub-link" href="{% static 'assets/images/Java Module-2.pdf' %}" target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
        <div class="home">
          <img src="{% static 'assets/images/sample-sub.png' %}" alt="sample1" class="home__img" />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a class="sub-link" href="{% static 'assets/images/Java Module-2.pdf' %}" target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
        <div class="home">
          <img src="{% static 'assets/images/sample-sub.png' %}" alt="sample1" class="home__img" />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a class="sub-link" href="{% static 'assets/images/Java Module-2.pdf' %}" target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
      </div>
    </section>
    <hr />


  
 
{% endblock content %}

{% block js %}
     <script src="{% static 'js/subjectDetails.js' %}" defer></script>
{% endblock js %}
    

