<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/subjectDetails.css" />
    <script src="js/subjectDetails.js" defer></script>
    <title>Subject-Details</title>
  </head>
  <body>
    <header class="header-fixed">
      <a class="navbar-brand" href="#"
        ><img class="nav-logo" src="{% static 'assets/logo_blue.svg' %}"
      /></a>
    </header>
    <nav class="navbar">
      <ul class="navbar-list">
        <li class="navbar-item"><a href="#">NOTES</a></li>
        <li class="navbar-item"><a href="#pyq-section">PYQ</a></li>
        <li class="navbar-item"><a href="#gate-section">GATE PYQ</a></li>
      </ul>
    </nav>

    <div class="notes"><h1>NOTES</h1></div>

    <section id="notes-section">
      <div class="homes">
        <div class="home">
          <img
            src="subjectScreenshots/sample-sub.png"
            alt="sample1"
            class="home__img"
          />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>

          <a
            class="sub-link"
            href="subjectPdfs/Java Module-2.pdf"
            target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
        <div class="home">
          <img
            src="subjectScreenshots/sample-sub.png"
            alt="sample1"
            class="home__img"
          />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a
            class="sub-link"
            href="subjectPdfs/Java Module-2.pdf"
            target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
        <div class="home">
          <img
            src="subjectScreenshots/sample-sub.png"
            alt="sample1"
            class="home__img"
          />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a
            class="sub-link"
            href="subjectPdfs/Java Module-2.pdf"
            target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
      </div>
    </section>
    <hr />
    <div class="notes"><h1>PYQ</h1></div>

    <section id="pyq-section">
      <div class="homes">
        <div class="home">
          <img
            src="subjectScreenshots/sample-sub.png"
            alt="sample1"
            class="home__img"
          />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a
            class="sub-link"
            href="subjectPdfs/Java Module-2.pdf"
            target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
        <div class="home">
          <img
            src="subjectScreenshots/sample-sub.png"
            alt="sample1"
            class="home__img"
          />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a
            class="sub-link"
            href="subjectPdfs/Java Module-2.pdf"
            target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
        <div class="home">
          <img
            src="subjectScreenshots/sample-sub.png"
            alt="sample1"
            class="home__img"
          />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a
            class="sub-link"
            href="subjectPdfs/Java Module-2.pdf"
            target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
      </div>
    </section>
    <hr />
    <div class="notes"><h1>GATE PYQ</h1></div>

    <section id="gate-section">
      <div class="homes">
        <div class="home">
          <img
            src="subjectScreenshots/sample-sub.png"
            alt="sample1"
            class="home__img"
          />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a
            class="sub-link"
            href="subjectPdfs/Java Module-2.pdf"
            target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
        <div class="home">
          <img
            src="subjectScreenshots/sample-sub.png"
            alt="sample1"
            class="home__img"
          />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a
            class="sub-link"
            href="subjectPdfs/Java Module-2.pdf"
            target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
        <div class="home">
          <img
            src="subjectScreenshots/sample-sub.png"
            alt="sample1"
            class="home__img"
          />
          <div class="home__name">
            <h2>Advanced Java</h2>
            <h4>Author: R.D Das</h4>
          </div>
          <a
            class="sub-link"
            href="subjectPdfs/Java Module-2.pdf"
            target="_blank"
            ><button class="btn">READ NOW</button></a
          >
        </div>
      </div>
    </section>
    <hr />
  </body>
</html>
