
{% extends 'base_with_navbar.html' %}
{% load static %}

{% block title %}
Subject Content
{% endblock title %}




{% block css-ex %}
    <link rel="stylesheet" href="{% static 'css/subjectContent.css' %}" />
{% endblock css-ex %}



{% block content-ex %}


       <div class="content">
        <div class="subject-details">
          <h1>{{file.title}}</h1>
          <!-- <h3>FLAT</h3> -->
          <p class="author-details">
            Author: <span class="author-name">{{file.author}}</span>
          </p>
        </div>
        <object
          id="subject-pdf"
          data="{{file.file_location}}"
          type="application/pdf"
          style="height: 85vh; width: 900px">
          Unable to load pdf
        </object>
    </div>

{% endblock content-ex %}




{% block js %}

{% endblock js %}