{% extends 'base.html' %} {% load static %} {% block css %}
<link
  href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'css/subjectDetails.css' %}" />
<style>
  html {
    scroll-behavior: smooth;
  }
</style>
{% endblock css %} {% block content %}

<header class="header-fixed">
  <a class="navbar-brand" href="#"
    ><img class="nav-logo" src="{% static 'assets/logo_blue.svg' %}"
  /></a>
</header>

<!-- <iframe
  src="http://docs.google.com/gview?url=https://edflix5.pythonanywhere.com/static/assets/images/Java%20Module-2.pdf&embedded=true"
  style="width: 718px; height: 700px"
  frameborder="0"
></iframe> -->
<nav class="navbar">
  <ul class="navbar-list">
    <a href="#"><li class="navbar-item">NOTES</li></a>
    <a href="#pyq-section"><li class="navbar-item">PYQ</li></a>
    <a href="#gate-section"><li class="navbar-item">GATE PYQ</li></a>
  </ul>
</nav>

<div class="notes"><h1>NOTES</h1></div>

<section id="notes-section">
  <div class="subject-container">
    <div class="card">
      <div class="image-container">
        <div class="subject-short">FLAT</div>
        <div class="subject-name">
          <h2>Formal Language and Automata Theory</h2>
          <h5>MODULE-I</h5>
        </div>
      </div>
      <div class="author">
        <p>
          Author:
          <span class="author-name">Dr. Prof. Sarojananda Mishra</span> |
          <span class="author-duration">size: 1.4MB</span>
        </p>
        <a href="{% static 'assets/' %}" target="_blank"
          ><button class="read-button">READ NOW</button></a
        >
      </div>
    </div>
    <div class="card">
      <div class="image-container">
        <div class="subject-short">FLAT</div>
        <div class="subject-name">
          <h2>Formal Language and Automata Theory</h2>
          <h5>MODULE-II</h5>
        </div>
      </div>
      <div class="author">
        <p>
          Author:
          <span class="author-name">Dr. Prof. Sarojananda Mishra</span> |
          <span class="author-duration">size: 1.4MB</span>
        </p>
        <a href="{% static 'assets/' %}" target="_blank"
          ><button class="read-button">READ NOW</button></a
        >
      </div>
    </div>
    <div class="card">
      <div class="image-container">
        <div class="subject-short">FLAT</div>
        <div class="subject-name">
          <h2>Formal Language and Automata Theory</h2>
          <h5>MODULE-III</h5>
        </div>
      </div>
      <div class="author">
        <p>
          Author:
          <span class="author-name">Dr. Prof. Sarojananda Mishra</span> |
          <span class="author-duration">size: 1.4MB</span>
        </p>
        <a href="{% static 'assets/' %}" target="_blank"
          ><button class="read-button">READ NOW</button></a
        >
      </div>
    </div>
    <div class="card">
      <div class="image-container">
        <div class="subject-short">FLAT</div>
        <div class="subject-name">
          <h2>Formal Language and Automata Theory</h2>
          <h5>MODULE-IV</h5>
        </div>
      </div>
      <div class="author">
        <p>
          Author:
          <span class="author-name">Dr. Prof. Sarojananda Mishra</span> |
          <span class="author-duration">size: 1.4MB</span>
        </p>
        <a href="{% static 'assets/' %}" target="_blank"
          ><button class="read-button">READ NOW</button></a
        >
      </div>
    </div>
  </div>
</section>
<hr />
<div class="notes"><h1>PYQ</h1></div>

<section id="pyq-section">
  <div class="subject-container">
    <div class="card">
      <div class="image-container">
        <div class="subject-short">FLAT</div>
        <div class="subject-name">
          <h2>Formal Language and Automata Theory</h2>
          <h5>PYQ 2020</h5>
        </div>
      </div>
      <div class="author">
        <p>
          Author:
          <span class="author-name">Dr. Prof. Sarojananda Mishra</span> |
          <span class="author-duration">size: 1.4MB</span>
        </p>
        <a href="{% static 'assets/' %}" target="_blank"
          ><button class="read-button">READ NOW</button></a
        >
      </div>
    </div>
    <div class="card">
      <div class="image-container">
        <div class="subject-short">FLAT</div>
        <div class="subject-name">
          <h2>Formal Language and Automata Theory</h2>
          <h5>PYQ 2020</h5>
        </div>
      </div>
      <div class="author">
        <p>
          Author:
          <span class="author-name">Dr. Prof. Sarojananda Mishra</span> |
          <span class="author-duration">size: 1.4MB</span>
        </p>
        <a href="{% static 'assets/' %}" target="_blank"
          ><button class="read-button">READ NOW</button></a
        >
      </div>
    </div>
  </div>
</section>
<hr />
<div class="notes"><h1>GATE PYQ</h1></div>

<section id="gate-section">
  <div class="subject-container">
    <div class="card">
      <div class="image-container">
        <div class="subject-short">FLAT</div>
        <div class="subject-name">
          <h2>Formal Language and Automata Theory</h2>
          <h5>GATE 2019</h5>
        </div>
      </div>
      <div class="author">
        <p>
          Author:
          <span class="author-name">Dr. Prof. Sarojananda Mishra</span> |
          <span class="author-duration">size: 1.4MB</span>
        </p>
        <a href="{% static 'assets/' %}" target="_blank"
          ><button class="read-button">READ NOW</button></a
        >
      </div>
    </div>
    <div class="card">
      <div class="image-container">
        <div class="subject-short">FLAT</div>
        <div class="subject-name">
          <h2>Formal Language and Automata Theory</h2>
          <h5>GATE 2020</h5>
        </div>
      </div>
      <div class="author">
        <p>
          Author:
          <span class="author-name">Dr. Prof. Sarojananda Mishra</span> |
          <span class="author-duration">size: 1.4MB</span>
        </p>
        <a href="{% static 'assets/' %}" target="_blank"
          ><button class="read-button">READ NOW</button></a
        >
      </div>
    </div>
  </div>
</section>
<hr />

<footer class="footer">
  <div class="row inner">
    <copy class="copyright col-12 d-flex justify-content-center">
      ©copyright
      <script>
        document.write(new Date().getFullYear());
      </script>
      Team Ed-Flix
    </copy>
  </div>
  <p class="text-center">
    Website designed and developed by
    <strong
      ><a href="https://github.com/EdFlix5" style="color: #ffffff"
        >Team Ed-Flix</a
      ></strong
    >
  </p>
</footer>

{% endblock content %} {% block js %}
<script src="{% static 'js/subjectDetails.js' %}" defer></script>
{% endblock js %}
