{% extends 'base_with_navbar.html' %}

{% load static %}

{% block css-ex %}
  <link rel="stylesheet" href="{% static 'css/upload.css' %}"/>
{% endblock css-ex %}


{% block content-ex %}

     <div class="upload-container">
      <form action="" method="POST" class="upload-form">
      {% csrf_token %}
        <h1 style="color: #4c458b">Upload your notes (Only in PDF format)</h1>
        <div class="input-container">
          <label for="name">Enter title:</label>
          <input
            id="name"
            type="text"
            placeholder="Subject title here"
            required
            class="input-text"
            autocomplete="off"
          />
        </div>
        <!-- <div class="input-container">
          <label for="subject">Enter subject Name:</label>
          <input
            id="subject"
            type="text"
            placeholder="Subject name here"
            required
            class="input-text"
          />
        </div> -->

        <div class="input-container">
          <label for="author">Enter Author Name:</label>
          <input
            id="author"
            type="text"
            placeholder="Author name here"
            required
            class="input-text"
            autocomplete="off"
          />
        </div>
        <!-- <div class="input-container input-container-inline-dropdown">
          <div>
            <label for="subject">Select your stream:</label>
            <select name="stream" id="stream">
              <option value="B.Tech">B.Tech</option>
              <option value="B.Tech">MCA</option>
              <option value="B.Tech">Diploma</option>
              <option value="B.Tech">M.Tech</option>
            </select>
          </div>
          <div>
            <label for="subject">Select your Branch:</label>
            <select name="branch" id="branch">
              <option value="B.Tech">CSE</option>
              <option value="B.Tech">Mechanical</option>
              <option value="B.Tech">Civil</option>
              <option value="B.Tech">Electrical</option>
              <option value="B.Tech">Electronics</option>
              <option value="B.Tech">Chemical</option>
              <option value="B.Tech">Metallurgy</option>
              <option value="B.Tech">Production</option>
              <option value="B.Tech">Mining</option>
            </select>
          </div>
        </div> -->
        <div class="input-container input-container-block-dropdown">
          <div>
            <label for="subject">Select your subject:</label>
            <div class="row-fluid">
              <select
                id="subject"
                class="selectpicker"
                data-show-subtext="true"
                data-live-search="true"
              >
                <!-- <option>Operating System</option> -->
              </select>
            </div>
            <!-- <input
              list="subject-list"
              id="subject"
              name="my-subject-list"
              autocomplete="off"
            />

            <datalist id="subject-list">
              <option value="OS">OS</option>
              <option value="DBMS">DBMS</option>
              <option value="DCCN">DCCN</option>
              <option value="Java">JAVA</option>
              <option value="FLAT">FLAT</option>
            </datalist> -->

            <!-- <select name="subject" id="subject">
              <input type="text" placeholder="Search..." />
              <option value="OS">OS</option>
              <option value="DBMS">DBMS</option>
              <option value="DCCN">DCCN</option>
              <option value="JAVA">JAVA</option>
            </select> -->
          </div>
        </div>
        <div class="input-container" id="file-container">
          <label id="file-label" for="file">Choose file</label>
          <input type="file" required class="input-file" id="file" accept="application/pdf" />
          <p class="file-name"></p>
        </div>
  
        <button type="submit" class="btn-submit">Upload</button>
        <br>

      </form>
      
    </div>
    <!-- <footer class="footer">
      <div class="row inner">
        <copy class="copyright col-12 d-flex justify-content-center">
          ©copyright
          <script>
            document.write(new Date().getFullYear());
          </script>
          Team Ed-Flix
        </copy>
      </div>
      <p class="text-center">
        Website designed and developed by
        <strong
          ><a href="https://github.com/EdFlix5" style="color: #ffffff"
            >Team Ed-Flix</a
          ></strong
        >
      </p>
    </footer> -->

    <div id="dialog-message" title="Upload complete" style="display:none;">
      <p>
        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
        Your files have Uploaded successfully into the Ed-Flix Server.
      </p>
    </div>

{% endblock content-ex %}



{% block js %}
  <script src="{% static 'js/upload.js' %}" ></script>
{% endblock js %}




