{% extends 'base_with_navbar.html' %} {% load static %} {% block css-ex %}
<link rel="stylesheet" href="{% static 'css/upload.css' %}" />
{% endblock css-ex %} {% block content-ex %}

<div class="upload-container">
  <form action="" method="POST" class="upload-form">
    {% csrf_token %}
    <h1 style="color: #4c458b">Upload your notes (Only in PDF format)</h1>
    <div class="input-container">
      <label for="name">Enter title:</label>
      <input
        id="name"
        type="text"
        placeholder="Subject title here"
        required
        class="input-text"
        autocomplete="off"
      />
    </div>
    <div class="input-container">
      <label for="subtitle">Enter sub-title:</label>
      <input
        id="subtitle"
        type="text"
        placeholder="module-1, module-2, etc."
        required
        class="input-text"
        autocomplete="off"
      />
    </div>
    <div class="input-container">
      <label for="author">Enter Author Name:</label>
      <input
        id="author"
        type="text"
        placeholder="Author name here"
        required
        class="input-text"
        autocomplete="off"
      />
    </div>
    <div class="input-container">
      <label for="document-select">Select document-type:</label>
      <select name="document" id="document-select">
        <option value="Notes">Notes</option>
        <option value="PYQ">PYQ</option>
        <option value="Gate PYQ">GATE PYQ</option>
      </select>
    </div>
    <div class="input-container input-container-block-dropdown">
      <div>
        <label for="subject">Select your subject:</label>
        <div class="row-fluid">
          <input
              type="text"
              list="selectpicker"
              class="input-text"
              id="subject"
              name="my-subject-list"
              autocomplete="off"
              placeholder="Subject name here"
              required
            />

            <datalist id="selectpicker" class="selectpicker">
              <!-- <option value="OS">OS</option> -->
            </datalist>
      </div>
    </div>
    <div class="input-container" id="file-container">
      <label id="file-label" for="file">Choose file</label>
      <input
        type="file"
        required
        class="input-file"
        id="file"
        accept="application/pdf"
      />
      <p class="file-name"></p>
    </div>

    <button type="submit" class="btn-submit">Upload</button>
    <br />
  </form>
</div>

<div id="dialog-message" title="Upload complete" style="display: none">
  <p>
    <span
      class="ui-icon ui-icon-circle-check"
      style="float: left; margin: 0 7px 50px 0"
    ></span>
    Your files have Uploaded successfully into the Ed-Flix Server.
  </p>
</div>

<div id="dialog-message-error" title="Upload Incomplete" style="display: none">
  <p>
    <span
      class="ui-icon ui-icon-circle-check"
      style="float: left; margin: 0 7px 50px 0"
    ></span>
    Error Occured.
  </p>
</div>

{% endblock content-ex %} {% block js %}
<script src="{% static 'js/upload.js' %}"></script>
{% endblock js %}
